@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

[data-theme="light"] {
  color-scheme: light;
}

body {
  overflow-x: hidden;
  background-color: #0a0f1c;
  color: #f8fafc;
}